<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Checking your portrait image before drawing</h1>
    <hr>
    <% Object.values(showImage).forEach(function(item){%>
        <p>=> <%= item.name %></p>
        <img src="<%= item.image %>">
        <hr>
    <% }) %>
    <b>If generated picture isn't good enough please re-upload again</b>
    <a href="/upload">Re-Upload</a>
    <hr>
    <b>If generated picture is OK please click to start drawing process</b>
    <a href="/status">Start Drawing!!!!</a>
</body>
</html>