<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="try.css" />
</head>
<body>
    <div class="header">
        <div class="logo">
          <div class="header__back">
            <i class="fas fa-angle-left"></i>
          </div>
          <h2>Ckecking Progress Step</h2>
        </div>
      </div> 
    <div class="guideline-steps">
        <p class="step">Check drawing queue name and real-time drawing streaming</p>
        <hr>
        <p></p>
        <b>Current Drawing Queue</b>
        <% var userIndex = user_done; %>
        <p>NOW!! Drawing picture of : <%= all_users[userIndex] %> <a href="/stream_all" class="stream-button" target="_blank">Go to video streaming page</a></p>
        <hr>
        <p></p>
        <b>Waiting Queue</b>
            <% for (var i = user_done; i < all_users.length; i++) { %>
                <li><%= all_users[i+1] %></li>
            <% } %>
        </ul>
    </div>
    <a href="/upload">Back to Upload</a>

    <script>
      var socket = io();

      socket.on('statusUpdate', function(data) {
          // Update your UI using the data received from the server
          console.log('Received status update:', data);
          // Example: Update the user_done variable in your UI
          document.getElementById('user_done').innerText = data.user_done;
          document.getElementById('all_users').innerText = data.all_users;
      });
    </script>

</body>
</html>